In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import csv
import math
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
data_district = pd.read_csv("/content/drive/MyDrive/telangana/dim_districts.csv")
data_transport = pd.read_csv("/content/drive/MyDrive/telangana/fact_transport.csv")

In [4]:
data_transport['district'] = data_transport['dist_code'].map(data_district.set_index('dist_code')['district'])

In [5]:
column_to_move = 'district'
new_order = [column_to_move] + [col for col in data_transport.columns if col != column_to_move]
data_transport = data_transport[new_order]
data_transport

,district,dist_code,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,Rangareddy,15_1,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,Kamareddy,18_2,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,Rajanna Sircilla,20_3,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,Jangoan,21_3,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,Jayashankar Bhupalpally,21_7,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Hyderabad,16_1,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,Wanaparthy,14_4,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,Rajanna Sircilla,20_3,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,Yadadri Bhuvanagiri,23_3,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,Kamareddy,18_2,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [6]:
del data_transport['dist_code']
data_transport

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,Rangareddy,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,Kamareddy,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,Rajanna Sircilla,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,Jangoan,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,Jayashankar Bhupalpally,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,Wanaparthy,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,Rajanna Sircilla,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,Kamareddy,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [7]:
data_stamp = pd.read_csv("/content/drive/MyDrive/telangana/fact_stamps.csv")

In [8]:
data_stamp['district'] = data_stamp['dist_code'].map(data_district.set_index('dist_code')['district'])
column_to_move = 'district'
new_order = [column_to_move] + [col for col in data_stamp.columns if col != column_to_move]
data_stamp = data_stamp[new_order]
data_stamp

,district,dist_code,month,documents_registered_cnt,documents_registered_rev,estamps_challans_cnt,estamps_challans_rev
0,Mahabubnagar,14_1,2019-04-01,4533,59236363,0,0
1,Siddipet,17_3,2019-04-01,4151,41508762,0,0
2,Rajanna Sircilla,20_3,2019-04-01,2116,23674170,0,0
3,Mahabubabad,21_5,2019-04-01,1089,15915285,0,0
4,Nalgonda,23_1,2019-04-01,6133,82593256,0,0
...,...,...,...,...,...,...,...
1499,Peddapalli,20_4,2023-03-01,1510,54036552,1596,57171081
1500,Narayanpet,14_5,2023-03-01,980,23898383,1026,23106330
1501,Hanumakonda,21_1,2023-03-01,4321,279791569,4642,284765300
1502,Bhadradri Kothagudem,22_2,2023-03-01,1255,18695648,1566,22453502
1503,Nalgonda,23_1,2023-03-01,5806,132022152,5997,135318190

In [9]:
del data_stamp['dist_code']
data_stamp

,district,month,documents_registered_cnt,documents_registered_rev,estamps_challans_cnt,estamps_challans_rev
0,Mahabubnagar,2019-04-01,4533,59236363,0,0
1,Siddipet,2019-04-01,4151,41508762,0,0
2,Rajanna Sircilla,2019-04-01,2116,23674170,0,0
3,Mahabubabad,2019-04-01,1089,15915285,0,0
4,Nalgonda,2019-04-01,6133,82593256,0,0
...,...,...,...,...,...,...
1499,Peddapalli,2023-03-01,1510,54036552,1596,57171081
1500,Narayanpet,2023-03-01,980,23898383,1026,23106330
1501,Hanumakonda,2023-03-01,4321,279791569,4642,284765300
1502,Bhadradri Kothagudem,2023-03-01,1255,18695648,1566,22453502
1503,Nalgonda,2023-03-01,5806,132022152,5997,135318190

In [10]:
data_pass = pd.read_csv("/content/drive/MyDrive/telangana/fact_TS_iPASS.csv")

In [11]:
data_pass['district'] = data_pass['dist_code'].map(data_district.set_index('dist_code')['district'])
column_to_move = 'district'
new_order = [column_to_move] + [col for col in data_pass.columns if col != column_to_move]
data_pass = data_pass[new_order]
data_pass

,district,dist_code,month,sector,investment in cr,number_of_employees
0,Mahabubnagar,14_1,01-04-2019,Engineering,2.3200,15
1,Adilabad,19_1,01-04-2019,Engineering,0.6250,13
2,Rajanna Sircilla,20_3,01-04-2019,Wood and Leather,0.2000,8
3,Rajanna Sircilla,20_3,01-04-2019,Textiles,0.2675,27
4,Mahabubabad,21_5,01-04-2019,Electrical and Electronic Products,0.1200,5
...,...,...,...,...,...,...
5748,Peddapalli,20_4,01-03-2023,Engineering,0.1200,3
5749,Peddapalli,20_4,01-03-2023,Food Processing,0.7509,9
5750,Peddapalli,20_4,01-03-2023,Others,7.7500,10
5751,Hanumakonda,21_1,01-03-2023,Food Processing,0.3200,9
5752,Jagtial,20_2,01-03-2023,Food Processing,4.7451,68

In [12]:
del data_pass['dist_code']
data_pass

,district,month,sector,investment in cr,number_of_employees
0,Mahabubnagar,01-04-2019,Engineering,2.3200,15
1,Adilabad,01-04-2019,Engineering,0.6250,13
2,Rajanna Sircilla,01-04-2019,Wood and Leather,0.2000,8
3,Rajanna Sircilla,01-04-2019,Textiles,0.2675,27
4,Mahabubabad,01-04-2019,Electrical and Electronic Products,0.1200,5
...,...,...,...,...,...
5748,Peddapalli,01-03-2023,Engineering,0.1200,3
5749,Peddapalli,01-03-2023,Food Processing,0.7509,9
5750,Peddapalli,01-03-2023,Others,7.7500,10
5751,Hanumakonda,01-03-2023,Food Processing,0.3200,9
5752,Jagtial,01-03-2023,Food Processing,4.7451,68

In [13]:
data_pass['month'] = pd.to_datetime(data_pass['month'], format='%d-%m-%Y')

In [14]:
data_pass

,district,month,sector,investment in cr,number_of_employees
0,Mahabubnagar,2019-04-01,Engineering,2.3200,15
1,Adilabad,2019-04-01,Engineering,0.6250,13
2,Rajanna Sircilla,2019-04-01,Wood and Leather,0.2000,8
3,Rajanna Sircilla,2019-04-01,Textiles,0.2675,27
4,Mahabubabad,2019-04-01,Electrical and Electronic Products,0.1200,5
...,...,...,...,...,...
5748,Peddapalli,2023-03-01,Engineering,0.1200,3
5749,Peddapalli,2023-03-01,Food Processing,0.7509,9
5750,Peddapalli,2023-03-01,Others,7.7500,10
5751,Hanumakonda,2023-03-01,Food Processing,0.3200,9
5752,Jagtial,2023-03-01,Food Processing,4.7451,68

In [15]:
# Filter data for the two financial years
fy_2021_pass = data_pass[(data_pass['month'] >= '2021-04-01') & (data_pass['month'] <= '2022-03-31')]
fy_2022_pass = data_pass[(data_pass['month'] >= '2022-04-01') & (data_pass['month'] <= '2023-03-31')]

In [16]:
# Filter data for the two financial years
fy_2021_stamp = data_stamp[(data_stamp['month'] >= '2021-04-01') & (data_stamp['month'] <= '2022-03-31')]
fy_2022_stamp = data_stamp[(data_stamp['month'] >= '2022-04-01') & (data_stamp['month'] <= '2023-03-31')]

In [17]:
# Filter data for the two financial years
fy_2021_transport = data_transport[(data_transport['month'] >= '2021-04-01') & (data_transport['month'] <= '2022-03-31')]
fy_2022_transport = data_transport[(data_transport['month'] >= '2022-04-01') & (data_transport['month'] <= '2023-03-31')]

In [18]:
fy_2021_stamp = fy_2021_stamp.groupby('district').agg({
    'estamps_challans_rev': 'sum'
}).reset_index()

fy_2021_stamp

                 district  estamps_challans_rev
0                Adilabad             332597037
1    Bhadradri Kothagudem             254379427
2             Hanumakonda            2112813388
3               Hyderabad           10893677949
4                 Jagtial             443715297
5                 Jangoan             261658853
6        Jogulamba Gadwal             272076616
7               Kamareddy             380467770
8              Karimnagar            1078423581
9                 Khammam            1644624288
10  Kumurambheem Asifabad              58294715
11            Mahabubabad             264393331
12           Mahabubnagar             899612434
13             Mancherial             444256231
14                  Medak             482267731
15     Medchal_Malkajgiri           18747892104
16                 Mulugu             148856779
17           Nagarkurnool             378375339
18               Nalgonda            1221278894
19             Narayanpet             205291521
20                 Nirmal             293878065
21              Nizamabad            1165209994
22             Peddapalli             508023769
23       Rajanna Sircilla             294316478
24             Rangareddy           32332939769
25             Sangareddy            6522436259
26               Siddipet             746741914
27               Suryapet             792850936
28              Vikarabad             387426499
29             Wanaparthy             306488316
30               Warangal             173457579
31    Yadadri Bhuvanagiri            1616599565

In [19]:
fy_2022_stamp = fy_2022_stamp.groupby('district').agg({
    'estamps_challans_rev': 'sum'
}).reset_index()

fy_2022_stamp

                 district  estamps_challans_rev
0                Adilabad             390406044
1    Bhadradri Kothagudem             286343125
2             Hanumakonda            2846856844
3               Hyderabad           14374315032
4                 Jagtial             635617022
5                 Jangoan             485770112
6        Jogulamba Gadwal             331919414
7               Kamareddy             479194188
8              Karimnagar            1555554043
9                 Khammam            2002220314
10  Kumurambheem Asifabad              75125612
11            Mahabubabad             402178710
12           Mahabubnagar            1081759351
13             Mancherial             661727175
14                  Medak             663813464
15     Medchal_Malkajgiri           23596183308
16                 Mulugu             220445520
17           Nagarkurnool             503243357
18               Nalgonda            1378801930
19             Narayanpet             263221269
20                 Nirmal             345679061
21              Nizamabad            1449452877
22             Peddapalli             618663557
23       Rajanna Sircilla             455893155
24             Rangareddy           38349357618
25             Sangareddy            8259605302
26               Siddipet            1016130830
27               Suryapet            1025231495
28              Vikarabad             518763002
29             Wanaparthy             439781621
30               Warangal             251356586
31    Yadadri Bhuvanagiri            2185270667

In [20]:
t_electric_2022 = fy_2022_transport.groupby('district').agg({
    'fuel_type_electric': 'sum'
}).reset_index()

t_electric_2021 = fy_2021_transport.groupby('district').agg({
    'fuel_type_electric': 'sum'
}).reset_index()

t_agriculture_2022 = fy_2022_transport.groupby('district').agg({
    'vehicleClass_Agriculture': 'sum'
}).reset_index()

t_agriculture_2021 = fy_2021_transport.groupby('district').agg({
    'vehicleClass_Agriculture': 'sum'
}).reset_index()

t_agriculture_2021

                   district  vehicleClass_Agriculture
0                  Adilabad                       328
1      Bhadradri Kothagudem                      2100
2                 Hyderabad                        25
3                   Jagtial                      1454
4                   Jangoan                      1886
5   Jayashankar Bhupalpally                      2646
6          Jogulamba Gadwal                      1130
7                 Kamareddy                      1134
8                Karimnagar                      1666
9                   Khammam                      3117
10    Kumurambheem Asifabad                       121
11              Mahabubabad                      1213
12             Mahabubnagar                      1889
13               Mancherial                       508
14                    Medak                      2014
15       Medchal_Malkajgiri                       542
16             Nagarkurnool                      2520
17                 Nalgonda                      3893
18                   Nirmal                      1200
19                Nizamabad                      1880
20               Peddapalli                      1006
21         Rajanna Sircilla                       767
22               Rangareddy                       562
23               Sangareddy                      1667
24                 Siddipet                      3069
25                 Suryapet                      3603
26                Vikarabad                      2489
27               Wanaparthy                      1145
28                 Warangal                      2004
29      Yadadri Bhuvanagiri                      2176

In [21]:
fy_2022_transport['total_vehicle'] = fy_2022_transport[['category_Non-Transport','category_Transport']].sum(axis=1)
fy_2021_transport['total_vehicle'] = fy_2021_transport[['category_Non-Transport', 'category_Transport']].sum(axis=1)

total_2022 = fy_2022_transport.groupby('district').agg({
    'total_vehicle': 'sum'
}).reset_index()

total_2021 = fy_2021_transport.groupby('district').agg({
    'total_vehicle': 'sum'
}).reset_index()

total_2021

<ipython-input-21-99ee88b4fd07>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fy_2022_transport['total_vehicle'] = fy_2022_transport[['category_Non-Transport','category_Transport']].sum(axis=1)
<ipython-input-21-99ee88b4fd07>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fy_2021_transport['total_vehicle'] = fy_2021_transport[['category_Non-Transport', 'category_Transport']].sum(axis=1)

                   district  total_vehicle
0                  Adilabad          19158
1      Bhadradri Kothagudem          33503
2                 Hyderabad         266602
3                   Jagtial          28303
4                   Jangoan          17157
5   Jayashankar Bhupalpally          19831
6          Jogulamba Gadwal          16612
7                 Kamareddy          29310
8                Karimnagar          34913
9                   Khammam          50860
10    Kumurambheem Asifabad          11988
11              Mahabubabad          23142
12             Mahabubnagar          37741
13               Mancherial          22294
14                    Medak          23158
15       Medchal_Malkajgiri         238395
16             Nagarkurnool          25310
17                 Nalgonda          52652
18                   Nirmal          22820
19                Nizamabad          54920
20               Peddapalli          21317
21         Rajanna Sircilla          16903
22               Rangareddy         216631
23               Sangareddy          65182
24                 Siddipet          33603
25                 Suryapet          36728
26                Vikarabad          44189
27               Wanaparthy          16442
28                 Warangal          42438
29      Yadadri Bhuvanagiri          28215

In [22]:
automobile_2021 = fy_2021_pass[(fy_2021_pass['sector'] == 'Automobile')]
automobile_2022 = fy_2022_pass[(fy_2022_pass['sector'] == 'Automobile')]
electric_2021 = fy_2021_pass[(fy_2021_pass['sector'] == 'Electrical and Electronic Products')]
electric_2022 = fy_2022_pass[(fy_2022_pass['sector'] == 'Electrical and Electronic Products')]
agriculture_2021 = fy_2021_pass[(fy_2021_pass['sector'] == 'Agro based incl Cold Storages') | (fy_2021_pass['sector'] == 'Fertlizers Organic and Inorganic,Pesticides,Insecticides, and Other Related')]
agriculture_2022 = fy_2022_pass[(fy_2022_pass['sector'] == 'Agro based incl Cold Storages') | (fy_2022_pass['sector'] == 'Fertlizers Organic and Inorganic,Pesticides,Insecticides, and Other Related')]
agriculture_2022

,district,month,sector,investment in cr,number_of_employees
4321,Rangareddy,2022-04-01,Agro based incl Cold Storages,0.2400,7
4323,Khammam,2022-04-01,Agro based incl Cold Storages,0.0800,4
4352,Karimnagar,2022-04-01,Agro based incl Cold Storages,1.1053,27
4357,Sangareddy,2022-04-01,"Fertlizers Organic and Inorganic,Pesticides,In...",1.5000,50
4371,Yadadri Bhuvanagiri,2022-04-01,"Fertlizers Organic and Inorganic,Pesticides,In...",0.9700,16
...,...,...,...,...,...
5730,Nizamabad,2023-03-01,Agro based incl Cold Storages,2.9000,14
5733,Sangareddy,2023-03-01,Agro based incl Cold Storages,0.7400,5
5736,Rajanna Sircilla,2023-03-01,Agro based incl Cold Storages,0.2500,8
5740,Medchal_Malkajgiri,2023-03-01,Agro based incl Cold Storages,8.4087,15
5746,Peddapalli,2023-03-01,Agro based incl Cold Storages,0.8000,16

In [23]:
automobile_2021 = automobile_2021.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

automobile_2022 = automobile_2022.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

electric_2021 = electric_2021.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

electric_2022 = electric_2022.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

agriculture_2021 = agriculture_2021.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

agriculture_2022 = agriculture_2022.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

totalpass_2021 = fy_2021_pass.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

totalpass_2022 = fy_2022_pass.groupby('district').agg({
    'investment in cr': 'sum'
}).reset_index()

In [24]:
automobile_2022

             district  investment in cr
0  Medchal_Malkajgiri            6.6300
1          Rangareddy          270.8881
2          Sangareddy         1289.9090

In [25]:
fy_2022 = pd.merge(fy_2022_stamp, totalpass_2022, on='district', how='outer')
fy_2022 = pd.merge(fy_2022, total_2022, on='district', how='outer')
fy_2022

,district,estamps_challans_rev,investment in cr,total_vehicle
0,Adilabad,3.904060e+08,3.9210,14090.0
1,Bhadradri Kothagudem,2.863431e+08,982.2724,26063.0
2,Hanumakonda,2.846857e+09,165.0688,NaN
3,Hyderabad,1.437432e+10,23.3700,282124.0
4,Jagtial,6.356170e+08,35.6578,17880.0
5,Jangoan,4.857701e+08,80.4705,12520.0
6,Jogulamba Gadwal,3.319194e+08,91.9177,13374.0
7,Kamareddy,4.791942e+08,601.6253,20757.0
8,Karimnagar,1.555554e+09,115.0302,37235.0
9,Khammam,2.002220e+09,141.2274,42463.0
10,Kumurambheem Asifabad,7.512561e+07,7.8518,8599.0
11,Mahabubabad,4.021787e+08,68.5860,15815.0
12,Mahabubnagar,1.081759e+09,1788.4003,26124.0
13,Mancherial,6.617272e+08,173.0978,16512.0
14,Medak,6.638135e+08,1496.2658,18294.0
15,Medchal_Malkajgiri,2.359618e+10,2768.5223,244887.0
16,Mulugu,2.204455e+08,12.4140,NaN
17,Nagarkurnool,5.032434e+08,105.0658,19762.0
18,Nalgonda,1.378802e+09,354.6590,40742.0
19,Narayanpet,2.632213e+08,112.6068,NaN
20,Nirmal,3.456791e+08,16.0957,14987.0
21,Nizamabad,1.449453e+09,56.0115,38691.0
22,Peddapalli,6.186636e+08,26.8835,15351.0
23,Rajanna Sircilla,4.558932e+08,37.4199,11186.0
24,Rangareddy,3.834936e+10,8663.7938,246600.0
25,Sangareddy,8.259605e+09,4602.7137,65538.0
26,Siddipet,1.016131e+09,1121.0625,25643.0
27,Suryapet,1.025231e+09,1099.0375,29906.0
28,Vikarabad,5.187630e+08,125.4262,34837.0
29,Wanaparthy,4.397816e+08,375.4530,12736.0
30,Warangal,2.513566e+08,35.0286,24618.0
31,Yadadri Bhuvanagiri,2.185271e+09,466.4814,22637.0
32,Jayashankar Bhupalpally,NaN,10.5219,13799.0

In [26]:
fy_2021 = pd.merge(fy_2021_stamp, totalpass_2021, on='district', how='outer')
fy_2021 = pd.merge(fy_2021, total_2021, on='district', how='outer')
fy_2021

,district,estamps_challans_rev,investment in cr,total_vehicle
0,Adilabad,3.325970e+08,6.0170,19158.0
1,Bhadradri Kothagudem,2.543794e+08,42.3246,33503.0
2,Hanumakonda,2.112813e+09,31.5971,NaN
3,Hyderabad,1.089368e+10,12.2600,266602.0
4,Jagtial,4.437153e+08,48.4762,28303.0
5,Jangoan,2.616589e+08,41.3933,17157.0
6,Jogulamba Gadwal,2.720766e+08,19.0773,16612.0
7,Kamareddy,3.804678e+08,390.4748,29310.0
8,Karimnagar,1.078424e+09,105.5746,34913.0
9,Khammam,1.644624e+09,199.2845,50860.0
10,Kumurambheem Asifabad,5.829472e+07,9.1710,11988.0
11,Mahabubabad,2.643933e+08,49.4385,23142.0
12,Mahabubnagar,8.996124e+08,500.3335,37741.0
13,Mancherial,4.442562e+08,16.3933,22294.0
14,Medak,4.822677e+08,597.6855,23158.0
15,Medchal_Malkajgiri,1.874789e+10,2595.6302,238395.0
16,Mulugu,1.488568e+08,9.4335,NaN
17,Nagarkurnool,3.783753e+08,188.2649,25310.0
18,Nalgonda,1.221279e+09,1184.7093,52652.0
19,Narayanpet,2.052915e+08,1486.0857,NaN
20,Nirmal,2.938781e+08,26.8083,22820.0
21,Nizamabad,1.165210e+09,71.3202,54920.0
22,Peddapalli,5.080238e+08,67.1815,21317.0
23,Rajanna Sircilla,2.943165e+08,41.6648,16903.0
24,Rangareddy,3.233294e+10,3816.8326,216631.0
25,Sangareddy,6.522436e+09,4173.7965,65182.0
26,Siddipet,7.467419e+08,401.9526,33603.0
27,Suryapet,7.928509e+08,261.3462,36728.0
28,Vikarabad,3.874265e+08,81.5707,44189.0
29,Wanaparthy,3.064883e+08,25.9234,16442.0
30,Warangal,1.734576e+08,86.8805,42438.0
31,Yadadri Bhuvanagiri,1.616600e+09,1292.7295,28215.0
32,Jayashankar Bhupalpally,NaN,7.2122,19831.0

In [27]:
fy_2021.corr()

<ipython-input-27-04f20648de42>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  fy_2021.corr()

                      estamps_challans_rev  investment in cr  total_vehicle
estamps_challans_rev              1.000000          0.724762       0.850559
investment in cr                  0.724762          1.000000       0.524032
total_vehicle                     0.850559          0.524032       1.000000

In [28]:
fy_2022.corr()

<ipython-input-28-cd85601b35b3>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  fy_2022.corr()

                      estamps_challans_rev  investment in cr  total_vehicle
estamps_challans_rev              1.000000          0.836657       0.890519
investment in cr                  0.836657          1.000000       0.573365
total_vehicle                     0.890519          0.573365       1.000000

In [29]:
fy22 = pd.merge(total_2022, automobile_2022, on='district', how='outer')
fy22 = pd.merge(fy22, electric_2022, on='district', how='outer')
fy22 = pd.merge(fy22, t_electric_2022, on='district', how='outer')
fy22 = pd.merge(fy22, agriculture_2022, on='district', how='outer')
fy22 = pd.merge(fy22, t_agriculture_2022, on='district', how='outer')

# Create a dictionary to map old column names to new column names
column_name_mapping = {'investment in cr_x': 'automobile_investment',
                       'investment in cr_y': 'electric_investment',
                       'investment in cr': 'agriculture_investment'}

fy22.rename(columns=column_name_mapping, inplace=True)
fy22

,district,total_vehicle,automobile_investment,electric_investment,fuel_type_electric,agriculture_investment,vehicleClass_Agriculture
0,Adilabad,14090.0,NaN,NaN,333.0,1.9500,467.0
1,Bhadradri Kothagudem,26063.0,NaN,NaN,290.0,1.0966,2013.0
2,Hyderabad,282124.0,NaN,NaN,20026.0,NaN,20.0
3,Jagtial,17880.0,NaN,NaN,642.0,1.0550,858.0
4,Jangoan,12520.0,NaN,NaN,179.0,NaN,1225.0
5,Jayashankar Bhupalpally,13799.0,NaN,NaN,227.0,NaN,1928.0
6,Jogulamba Gadwal,13374.0,NaN,NaN,84.0,0.8232,868.0
7,Kamareddy,20757.0,NaN,NaN,273.0,0.2000,748.0
8,Karimnagar,37235.0,NaN,NaN,1132.0,2.2573,999.0
9,Khammam,42463.0,NaN,0.1800,759.0,43.3139,2121.0
10,Kumurambheem Asifabad,8599.0,NaN,NaN,81.0,NaN,160.0
11,Mahabubabad,15815.0,NaN,NaN,101.0,NaN,906.0
12,Mahabubnagar,26124.0,NaN,2.0059,387.0,28.8900,937.0
13,Mancherial,16512.0,NaN,NaN,236.0,NaN,400.0
14,Medak,18294.0,NaN,37.5934,319.0,1.5000,1579.0
15,Medchal_Malkajgiri,244887.0,6.6300,32.6379,13716.0,374.5460,261.0
16,Nagarkurnool,19762.0,NaN,NaN,171.0,12.4519,1556.0
17,Nalgonda,40742.0,NaN,NaN,555.0,2.0000,2599.0
18,Nirmal,14987.0,NaN,1.0780,672.0,1.2000,989.0
19,Nizamabad,38691.0,NaN,NaN,1800.0,5.7200,1181.0
20,Peddapalli,15351.0,NaN,NaN,404.0,0.8000,705.0
21,Rajanna Sircilla,11186.0,NaN,NaN,416.0,1.1900,675.0
22,Rangareddy,246600.0,270.8881,115.8923,13606.0,11.1168,449.0
23,Sangareddy,65538.0,1289.9090,281.5919,3039.0,31.2917,1570.0
24,Siddipet,25643.0,NaN,NaN,773.0,685.8028,2437.0
25,Suryapet,29906.0,NaN,NaN,670.0,1.4271,2188.0
26,Vikarabad,34837.0,NaN,NaN,561.0,2.4125,1814.0
27,Wanaparthy,12736.0,NaN,NaN,154.0,1.2600,985.0
28,Warangal,24618.0,NaN,NaN,649.0,1.1693,681.0
29,Yadadri Bhuvanagiri,22637.0,NaN,13.4861,277.0,21.2977,1853.0
30,Hanumakonda,NaN,NaN,NaN,NaN,0.1000,NaN
31,Narayanpet,NaN,NaN,NaN,NaN,62.9028,NaN

In [30]:
fy21 = pd.merge(total_2021, automobile_2021, on='district', how='outer')
fy21 = pd.merge(fy21, electric_2021, on='district', how='outer')
fy21 = pd.merge(fy21, t_electric_2021, on='district', how='outer')
fy21 = pd.merge(fy21, agriculture_2021, on='district', how='outer')
fy21 = pd.merge(fy21, t_agriculture_2021, on='district', how='outer')

# Create a dictionary to map old column names to new column names
column_name_mapping = {'investment in cr_x': 'automobile_investment',
                       'investment in cr_y': 'electric_investment',
                       'investment in cr': 'agriculture_investment'}

fy21.rename(columns=column_name_mapping, inplace=True)
fy21

,district,total_vehicle,automobile_investment,electric_investment,fuel_type_electric,agriculture_investment,vehicleClass_Agriculture
0,Adilabad,19158.0,NaN,NaN,277.0,0.0900,328.0
1,Bhadradri Kothagudem,33503.0,NaN,NaN,76.0,2.3080,2100.0
2,Hyderabad,266602.0,NaN,NaN,8929.0,NaN,25.0
3,Jagtial,28303.0,NaN,NaN,409.0,15.8154,1454.0
4,Jangoan,17157.0,NaN,1.2100,73.0,6.6893,1886.0
5,Jayashankar Bhupalpally,19831.0,NaN,NaN,111.0,0.0900,2646.0
6,Jogulamba Gadwal,16612.0,NaN,NaN,52.0,NaN,1130.0
7,Kamareddy,29310.0,NaN,NaN,183.0,11.4098,1134.0
8,Karimnagar,34913.0,NaN,NaN,704.0,5.2200,1666.0
9,Khammam,50860.0,NaN,NaN,149.0,51.5394,3117.0
10,Kumurambheem Asifabad,11988.0,NaN,0.1550,34.0,NaN,121.0
11,Mahabubabad,23142.0,NaN,NaN,36.0,13.5332,1213.0
12,Mahabubnagar,37741.0,NaN,17.0000,324.0,2.7812,1889.0
13,Mancherial,22294.0,NaN,NaN,198.0,0.5325,508.0
14,Medak,23158.0,NaN,23.8580,185.0,4.9958,2014.0
15,Medchal_Malkajgiri,238395.0,NaN,47.6545,7086.0,10.9291,542.0
16,Nagarkurnool,25310.0,NaN,NaN,105.0,8.2368,2520.0
17,Nalgonda,52652.0,NaN,NaN,395.0,13.4195,3893.0
18,Nirmal,22820.0,0.41,NaN,355.0,5.1950,1200.0
19,Nizamabad,54920.0,NaN,NaN,1451.0,29.5512,1880.0
20,Peddapalli,21317.0,NaN,NaN,219.0,1.1450,1006.0
21,Rajanna Sircilla,16903.0,NaN,NaN,362.0,9.9025,767.0
22,Rangareddy,216631.0,4.59,72.8637,5918.0,33.3307,562.0
23,Sangareddy,65182.0,NaN,9.4799,1558.0,54.9288,1667.0
24,Siddipet,33603.0,NaN,NaN,445.0,36.4046,3069.0
25,Suryapet,36728.0,NaN,NaN,193.0,2.6186,3603.0
26,Vikarabad,44189.0,NaN,NaN,383.0,0.0650,2489.0
27,Wanaparthy,16442.0,NaN,NaN,146.0,0.9950,1145.0
28,Warangal,42438.0,NaN,1.4396,419.0,13.0121,2004.0
29,Yadadri Bhuvanagiri,28215.0,NaN,1.0745,229.0,12.5631,2176.0
30,Hanumakonda,NaN,NaN,1.7242,NaN,0.6700,NaN
31,Mulugu,NaN,NaN,NaN,NaN,0.7100,NaN

In [31]:
fy22['total_vehicle'].corr(fy22['automobile_investment'])

-0.979167065865791

In [32]:
fy21['total_vehicle'].corr(fy21['automobile_investment'])

1.0

In [33]:
fy22['electric_investment'].corr(fy22['fuel_type_electric'])

0.22482617929062573

In [34]:
fy21['electric_investment'].corr(fy21['fuel_type_electric'])

0.8758766217075815

In [35]:
fy22['agriculture_investment'].corr(fy22['vehicleClass_Agriculture'])

0.19298669665144033

In [36]:
fy21['agriculture_investment'].corr(fy21['vehicleClass_Agriculture'])

0.17870382943292865